.collection{
	overflow: hidden;
}
.collection .collectlist{
	float: left;
}
.mainbody{
	width: 900px !important;
    min-width: 900px !important;
    margin: 0 auto;
    padding-top: 25px !important;
}
.collectlist img{
	max-width: 280px;
}
/*
 * commentlist
 */
.commentlist{
	width: 310px;
    max-width: 300px;
}
.nonemargin{
	margin-right: 0px !important;
}
.commentlist span{
	display: block;
	width: 100%;
	padding-left: 10px;
	font-family: "微软雅黑";
	margin-top: 10px;
}
.commentlist span:nth-child(2) b{
	font-size: 24px;
	color: #333333;
}
.commentlist span:nth-child(2) i.redHeart{
	vertical-align:text-top !important;
}
.commentlist span:nth-child(3){
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}
.commentlist span:nth-child(3) em{
	display: inline-block;
	background: url(../img/person/PIN-2.png) left center no-repeat;
	padding-left: 20px;
	color: #666666;
}
.commentlist span:nth-child(3) i.collectdistance{
	color: #42c889;
	padding-left: 20px;
}
.commentlist span:nth-child(4) em{
	display: inline-block;
	background: url(../img/person/iconfont-dianhua.png) left center no-repeat;
	padding-left: 20px;
	color: #666666;
}