body {
  position: relative;
}
header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
}
header img.logo {
  width: auto;
  height: auto;
  margin: 1px 0px;
}
header .userOpera {
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}
header .userOpera .item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  text-align: center;
  width: 35px;
}
header .userOpera .item img {
  width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.userOpera .item span {
  color: #fff;
}
.section1 {
  background: url(../img/index/section1.jpg) no-repeat;
  background-size: cover;
  height: 637px;
  position: relative;
  background-position: center center;
}
.section1 .text {
  position: absolute;
  top: 35%;
  width: 100%;
}
.section1 h1 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 20px;
  color: #333;
  font-family: STHeiti;
}
.section1 .introText {
  color: #666;
  width: 590px;
  margin: 0 auto;
  word-break: break-all;
  line-height: 20px;
  text-align: center;
}
.section1 .bottom {
  display: block;
  margin: 0 auto;
}
.IconTips {
  position: absolute;
  width: 1100px;
  left: 50%;
  margin-left: -550px;
  top: -40px;
  overflow: hidden;
}
.IconTips dl {
  width: 160px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0px 28px;
}
.IconTips dl dd {
  font-size: 12px;
}
.IconTips dl dd.title {
  font-size: 24px;
  color: #333;
  padding: 10px;
}
.section2 {
  background: #fff;
  height: 878px;
  position: relative;
  background: url(../img/index/section2.jpg) no-repeat center center;
  background-size: cover;
}
.section2 .selectOption {
  width: 890px;
  margin: 0 auto;
  padding-top: 220px;
}
.section2 .selectOption .selectArea {
  width: 165px;
  background: url(../img/index/bottomIcon.png) no-repeat 210px 25px;
  height: 22px;
  padding: 18px 40px;
  font-size: 20px;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
}
.section2 .selectOption .inputArea {
  padding: 18px 40px;
  width: 390px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 6px;
}
.section2 .selectOption .searchBtn {
  border: 0px;
  height: 60px;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.section3 {
  padding-top: 60px;
  padding-bottom: 100px;
}
.section3 h1 {
  text-align: center;
  font-size: 36px;
}
.section3 p {
  text-align: center;
  font-size: 16px;
  color: #999;
  padding-top: 20px;
  margin-bottom: 20px;
}
.section3 .ppList {
  margin-left: -12px;
}
.section3 .ppList .item {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  height: 100px;
  text-align: center;
  margin-left: 12px;
  margin-top: 10px;
}
.section3 .ppList .item img {
  height: 70px;
  max-width: 80%;
  display: inline-block;
  vertical-align: middle;
}
.section3 .ppList .item span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
}
.section3 .ppList .item:hover {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  box-shadow: 1px 6px 12px 3px rgba(0, 0, 0, 0.2);
}
.section4 {
  background: url(../img/index/section3.jpg) no-repeat center center;
  background-size: cover;
  height: 950px;
}
.section4 .comm1100 {
  height: 100%;
}
.section4 h1 {
  padding-bottom: 20px;
  font-size: 60px;
  color: #1d1b29;
  text-align: center;
}
.section4 .itemText {
  font-size: 12px;
  color: #1D1B29;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
}
.section4 .opera {
  width: 430px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0px;
}
.section4 .opera img {
  cursor: pointer;
}
.section4 .opera img:first-child {
  float: left;
}
.section4 .opera img:last-child {
  float: right;
}
.section4 .xcode {
  width: 170px;
  position: absolute;
  right: 200px;
  bottom: 180px;
}
.section4 .xcode .codeImg {
  padding: 10px;
  background: #fff;
}
.section4 .xcode p {
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
}
header .userOpera {
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */
