.contentnav label.datatitle{
	font-size: 16px;
	color: #666666;
	display: block;
}
.contentnav label.datatitle a{
	display: inline-block;
	float: right;
	background-color: #01BF71;
	color: #FFFFFF;
	font-size: 14px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight: normal;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.contentnav label.datatitle a:hover{
	text-decoration: none;
}
.contentnav div.listdata{
	margin-bottom: 20px;
}
.listdata input{
	display: none;
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	padding: 10px 12px;
}
.imglistdiv{
	margin-top: 30px;
}
.contentnav div.listdata span{
	font-size: 14px;
	color: #666666;
	text-align: right;
	display: inline-block;
	width: 60px;
	margin-right: 20px;
}
.contentnav div.listdata label{
	font-size: 14px;
	color: #333333;
	font-weight: normal;
}
.contentnav .listdata span.imglist{
	display: block;
}
.contentnav .listdata img.img{
	margin-left: 100px;
	width: 120px;
	height: 120px;
	border-radius: 60px;
}
.imglistdiv{
	position: relative;
}
.imglistdiv img{
	position: relative;
	opacity: 50%;
}
.imglistdiv .imgGrey{
	position: absolute;
	top: 65px;
	left: 130px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "微软雅黑";
	text-decoration: none;
    width: 120px;
    height: 120px;
    top: 0px;
    left: 100px;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    opacity: 50%;
    background: rgba(0,0,0,.1);
    z-index: 9999;
    display: none;
}
.imglistdiv a.hoverimg {
    background: rgba(0,0,0,.5) !important;
}
.imgBox{
	position: relative;
}
.imgBox a{
	position: absolute;
}
.labelGroup{
	display: inline-block;
	vertical-align: middle;
	display: none;
}

.labelGroup label{
	display: inline-block;
	vertical-align: middle;
	margin: 0px !important;
}
.listdata em{
	font-size: 12px;
	color: red;
	display: none;
	margin-left: 20px;
}
.payPwd h1{
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 30px;
}
.payPwd .item{
	padding: 10px 0px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.payPwd .item span{
	width: 130px;
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}
.payPwd .item input{
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	width: 255px;
}
.payPwd .opera{
	text-align: center;
}
.payPwd button{
	padding: 10px 25px;
	margin: 20px;
}
.payPwd .confirm{
	background: #01BF71;
	color: #fff;
	border: 0px;
}
.payPwd .cancel{
	border: 0px;
	background: #fff;
}
.pwd label{
	display: inline-block;
	width: 200px;
}
.pwd .valiInput{
	width: 120px !important;
}
.pwd .item button{
	background: #01BF71;
	color: #fff;
	border: 0px;

	margin: 0px;
	margin-left: 10px;
}
