.paymothodcon{
	width: 1100px;
	min-width: 1100px;
	margin: 0 auto;
}

.mypaymothod .mypaytitle{
	height: 70px;
	line-height: 70px;
}
.mypaymothod .mypaytitle div{
	display: inline-block;
	float: right;
}
.mypaymothod .mypaytitle div img{
	height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.mypaymothod .mypaytitle div span{
	font-size: 18px;
    color: #333333;
    margin: 0px 6px;
    display: inline-block;
    vertical-align: middle;
}
.mypaymothod .mypaytitle div i.bottomIcon{
    display: inline-block;
    vertical-align: middle;
    background: url(../img/person/多边形-1-拷贝.png);
    width: 9px;
    height: 6px;
}
.mypaymothod .mypaytitle div b{
	display: inline-block;
	font-size: 20px;
	color: #333333;
	padding-right: 15px;
	margin-right: 15px;
	height: 40px;
	line-height: 40px;
	border-right: 1px solid #DDDDDD;
	font-weight: bold !important;
}

.paycontent{
	width: 100%;
	height: 870px;
	background-color: #F2F2F2;
	padding: 27px 0px;

}
.paycontent .paycontentinner{
	background-color: #FFFFFF;
	height: 100%;
	margin-top: 30px;
	padding-left: 30px;
	font-family: "微软雅黑";
}
.paycontent .paycontentinner span,
.paycontent .paycontentinner label,
.paycontent .paycontentinner input,
.paycontent .paycontentinner a{
	display: block;
}
.paycontent .paycontentinner span:nth-child(1){
	background: url(../img/person/1-4.png) no-repeat left center;
	padding-left: 70px;
	height: 100px;
	padding-top: 30px;
	color: #999999;
	font-size: 14px;
}
.paycontent .paycontentinner span:nth-child(1) b{
	display: block;
	color: #FE8202;
	font-size: 18px;
}
.paycontent .paycontentinner label{
	color: #999999;
	font-size: 16px;
	margin-bottom: 19px;
}
.paycontent .paycontentinner input[type="text"]{
	width: 367px;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	border: 1px solid #E6E6E6;
	margin-bottom: 30px;
	display: inline-block;
}
.paycontent .paycontentinner  div.methodimg{
	overflow: hidden;
}
.paycontent .paycontentinner  div.methodimg div{
	float: left;
	margin-right: 52px;
}
.methodimg img{
	margin-left: 10px;
}
.methodimg input[type="radio"] {
	margin: 3px 3px 0px 5px;
	display: none;
}

.methodimg label {
	padding-left: 20px;
	cursor: pointer;
	background: url(../img/person/椭圆-1-拷贝-2.png) no-repeat left center;
	padding-right: 10px;
}

.methodimg label.checked {
	background-position: left bottom;
	background: url(../img/person/组-5.png) no-repeat left center;
}
.paycontent .paycontentinner input[type="submit"]{
	margin-top: 60px;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #01BF71 !important;
	font-size: 18px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.parent{
	padding: 20px 0px;
	background: #000;
}
.parent .comm1100{
	background: #fff;
}

em.infor{
	color: red;
	font-size: 12px;
	display: inline-block;
}
