.productIndex {
  width: 100%;
  height: 400px;
  background: url(../img/product/productTitle.jpg) no-repeat center center;
  background-size: cover;
}
.productIndex .logo {
  float: left;
  margin-top: 15px;
}
.productIndex .comm1100 {
  /*overflow: hidden;*/
}
.productIndex .userImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.productIndex .userName {
  font-size: 18px;
  color: #fff;
  margin: 0px 6px;
  display: inline-block;
  vertical-align: middle;
}
div.menu {
	width: 1100px;
	margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
  position: relative;
}
div.menu ul {
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
}
div.menu ul li {
  float: left;
  width: 130px;
  margin:5px 0;
}
div.menu ul li span {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
div.menu ul li span.active {
  background: #fe8202;
  color: #fff;
  font-size: 18px;
}
div.menu em{
	position: absolute;
	top: 45px;
	right: 0;
	text-decoration: underline;
	cursor: pointer;
}
section {
  padding-top: 65px;
}
section .title {
  width: 126px;
  height: 62px;
  margin: 0 auto;
  background: url(../img/titleIcon.png) no-repeat center center;
  text-align: left;
  padding: 20px 0px 0px;
}
section .title .text1 {
  color: #01BF71;
  font-size: 24px;
  padding-top: 15px;
  padding-left: 15px;
}
section .title .text2 {
  color: #01BF71;
  font-size: 12px;
  padding-left: 15px;
  padding-top: 6px;
}
section .content {
  margin-left: 3px;
}
section .content .item {
  display: inline-block;
  vertical-align: middle;
  margin-left: -3px;
}
section .content .item .bessImg {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 180px;
}
section .content .item div.intro {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 160px;
  padding: 10px 25px;
  margin-left: -4px;
  position: relative;
}
section .content .item div.intro h1 {
  font-size: 24px;
  color: #333;
  font-weight: normal;
}
section .content .item div.intro .leftIcon {
  width: 0px;
  height: 0px;
  border-right: 30px solid #fff;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -30px;
}
section .content .item div.intro .rightIcon {
  width: 0px;
  height: 0px;
  border-left: 30px solid #fff;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -30px;
}
section .content .item div.intro .heartBox {
  overflow: hidden;
  padding: 10px 0px;
}
section .content .item div.intro .groupText {
  padding: 5px 0px;
}
section .content .item div.intro .groupText img {
  display: inline-block;
  vertical-align: middle;
}
section .content .item div.intro .groupText div.address,
section .content .item div.intro .groupText div.cellPhone {
  display: inline-block;
  vertical-align: middle;
}
section .content .item div.intro .groupText div.address p {
  font-size: 14px;
  color: #666;
}
section .content .item div.intro .groupOffet {
  padding-top: 15px;
}
section .content .item div.intro:hover {
  padding: 9px 24px;
  border: 1px solid #FE8202;
}
section .content div.right .intro {
  margin: 0px;
}
section .content div.right .bessImg {
  margin-left: -4px;
}
section .content .itemPro {
  display: inline-block;
  padding: 1px;
  width: 354px;
  margin-left: 5px;
}
section .content .itemPro .ImgPro {
  display: block;
}
section .content .itemPro p {
  padding: 10px 25px;
  font-size: 18px;
  line-height: 20px;
}
section .content .itemPro .priceGroup {
  padding: 10px 25px;
  overflow: hidden;
}
section .content .itemPro .priceGroup .price {
  float: left;
  font-size: 24px;
}
section .content .itemPro .priceGroup .lessDay {
  float: right;
  padding: 5px 0px;
}
section .content .itemPro div.operaGroup {
  padding: 10px 25px;
}
section .content .itemPro button {
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  background: #01BF71;
  border: 0px;
  border-radius: 7px;
  font-size: 18px;
}
section .content .itemPro:hover {
  padding: 0px;
  border: 1px solid #FE8202;
}
.section2 .title {
  padding: 20px 0px;
}
.section2 .content {
  margin-left: -20px;
}
.section3 .title {
  padding: 30px 0px;
}
.section3 .itemThird {
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
  width: 214px;
  margin-left: 1px;
  margin-bottom: 10px;
  cursor: pointer;
}
.section3 .itemThird .imgPro {
  display: block;
  width: 214px;
  height: 209px;
}
.section3 .itemThird p {
  padding: 0px 5px;
  line-height: 20px;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
}
.section3 .itemThird .priceBox {
  padding: 10px 5px;
}
.section3 .itemThird .priceBox em {
  font-size: 24px;
}
.section3 .itemThird .less {
  font-size: 14px;
  color: #808080;
  padding: 0px 5px 6px;
}
.section3 .itemThird .buttonOpera {
  padding: 0px 5px;
  margin: 10px 0px;
}
.section3 .itemThird .buttonOpera button {
  width: 100%;
  background: #01BF71;
  border: 0px;
  padding: 10px 0px;
  font-size: 18px;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}
.section3 .itemThird .buttonOpera button.hasNone {
  background: #999;
}
.section3 .itemThird:hover {
  padding: 0px;
  border: 1px solid #FE8202;
}
.selectOption {
  width: 890px;
  margin: 0 auto;
  padding-top: 220px;
}
.selectOption .selectArea {
  width: 165px;
  background: url(../img/index/bottomIcon.png) no-repeat 210px 25px;
  height: 22px;
  padding: 18px 40px;
  font-size: 20px;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}
.selectOption .inputArea {
  padding: 18px 40px;
  width: 390px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 6px;
}
.selectOption .searchBtn {
  border: 0px;
  height: 60px;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
/*# sourceMappingURL=product.css.map */
/*
 * 查看更多
 */
.seemore{
	width: 1100px;
	min-width: 1100px;
	margin: 0 auto;
	text-align: center;
}
.seemore a{
	height: 40px;
	line-height: 40px;
	width: 144px;
	border: 1px solid #aaaaaa;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666666;
	text-align: center;
	margin-top: 30px;
	display: inline-block;
}
