.contentnav label.datatitle {
	font-size: 16px;
	color: #666666;
}

.contentnav .uploadimg {
	margin-top: 20px;
	font-size: 12px;
	color: #999999;
	height: 30px;
	line-height: 30px;
	margin-bottom: 40px;
}
.uploadimg form{
	display: inline-block;
}
.contentnav {
	font-family: "微软雅黑";
}

.contentnav .uploadimg a {
	width: 105px;
	height: 30px;
	font-family: simsun;
	font-size: 12px;
	color: #F1A400;
	border: 1px solid #f1a400;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 20px;
}

.imgdiv {
	overflow: hidden;
}

.bigimg,
.smallimg {
	float: left;
	height: 300px;
}

.bigimg {
	border-right: 1px solid #dcdcdc;
}

.bigimg img {
	vertical-align: middle;
	margin-top: 30px;
	margin-right: 60px;
	width: 240px;
	height: 240px;
	border-radius: 50%;
}

.smallimg {
	padding-left: 60px;
}

.smallimg div.seeimg {
	font-size: 14px;
	color: #666666;
	margin-bottom: 8px;
}

.smallimg div.xiaoguo,
div.imgsize {
	font-size: 12px;
	color: #999999;
}

.smallimg img {
	margin-top: 20px;
	margin-bottom: 5px;
	width: 100px;
	height: 100px;
	border-radius:50px;
}

.file {
	position: relative;
	display: inline-block;
	background: #D0EEFF;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	background-color: #FFFFFF;
}

.file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
}

.file:hover {
	text-decoration: none;
}