.noticewrapper {
	padding-top: 30px;
	font-family: "微软雅黑";
	overflow: hidden;
}

.orderinformation, .noticeinformation{
	float: left;
}
.orderinformation{
	margin-right: 34px;
}
.noticeinformation .ordertitle span{
	background: url(../img/person/组-7.png) no-repeat left center;
}

.ordertitle {
	font-size: 24px;
	color: #333333;
	padding: 0px !important;
	border-bottom: 1px solid #CCCCCC;
	width: 528px;
}

.ordertitle span {
	background: url(../img/person/组-6.png) no-repeat left center;
	padding-left: 70px;
	display: block;
	line-height: 98px;
}

.ordertitle span b {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #FE8202;
	font-size: 14px !important;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	margin-left: 15px;
}

.orderlist {
	border-bottom: 1px solid #CCCCCC;
	width: 528px;
	padding: 20px 0px;
}

.orderlist span:nth-child(1) {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #999999;
	margin-bottom: 10px;
	font-weight: bold;
}
.orderlist span.activefont{
	color: #333333;
}
.orderlist span b {
	font-weight: normal;
	float: right;
	color: #999999;
	display: inline-block;
}
.orderlist b:nth-child(2){
	font-size: 14px;
	color: #666666;
}

.orderlist a.sessmore{
	display: block;
	margin-top: 14px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #0000FF;
}
/*
 * 弹框
 */
.modaldiv{
	width: 800px;
	height: 450px;
	background-color: #FFFFFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0 auto;
	padding: 40px;
	font-family: "微软雅黑";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	z-index: 1050;
}
.modaldiv h3{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}
.modaldiv p{
	font-size: 14px;
	color: #666666;
}
.modaldiv p i{
	display: block;
	width: 100%;
	height: 38px;
}
.modaldiv p span{
	display: inline-block;
	width: 100%;
	text-align: right;
}
.modaldiv p span.firstaddress{
	margin-top: 60px;
}
