.packagecon{
	overflow: hidden;
}
.mypackage, .packagelist{
	float: left;
	border: 1px solid #E6E6E6;
}

.mypackage{
	width: 250px;
	height: 500px;
	background-color: #f2f2f2;
	text-align: center;
}
.mypackage span{
	display: block;
	font-family: "微软雅黑";
}
.mypackage span:first-child{
	margin-bottom: 22px;
	margin-top: 50px;
	background: url(../img/person/组-4.png) top center no-repeat;
	padding-top: 130px;
	font-size: 14px;
	color: #999999;
}
.mypackage span:nth-child(2){
	margin-bottom: 30px;
	color: #FE8202;
	font-size: 36px;
}
.mypackage span:last-child{
	color: #01BF71;
	border: 1px solid  #01BF71;
	width: 91px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.mypackage span:last-child a{
	font-size: 14px;
	color: #01BF71;
}

.packagelist{
	margin-left: 20px;
	width: 645px;
	padding-left: 20px;
	padding-right: 20px;
}
.packagelist span{
	display: block;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
	font-family: "微软雅黑";
}
.packagelist span.title{
	height: 61px;
	line-height: 61px;
	font-size: 16px;
	color: #666666;
	font-weight: bold;
}
.packagelist span.listpay{
	height: 57px;
	line-height: 57px;
	font-size: 14px;
	color: #999999;
}
.packagelist span.listpay:last-child{
	border-bottom: 0px !important;
}
.packagelist span.listpay b{
	display: inline-block;
	color: #666666;
	margin-left: 49px;
}
.packagelist span.listpay i{
	display: inline-block;
	float: right;
	padding-right: 20px;
	font-size: 18px;
}
.packagelist span.listpay i.greed{
	color: #01BF71;
}
.packagelist span.listpay i.red{
	color: #fe8202;
}