hr{
	border-top: 1px solid #ccc !important;
	width: 100%;
	}
/*个人中心  我的资料*/

.contentnav label.datatitle {
	font-size: 16px;
	color: #666666;
	display: block;
}

.contentnav label.datatitle a {
	display: inline-block;
	float: right;
	background-color: #01BF71;
	color: #FFFFFF;
	font-size: 14px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight: normal;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.contentnav label.datatitle a:hover {
	text-decoration: none;
}

.contentnav div.listdata {
	margin-bottom: 20px;
}

.listdata input {
	display: none;
	border: 1px solid #DBDBDB;
	border-radius: 5px;
	padding: 10px 12px;
}

.imglistdiv {
	margin-top: 30px;
}

.contentnav div.listdata span {
	font-size: 14px;
	color: #666666;
	text-align: right;
	display: inline-block;
	width: 60px;
	margin-right: 20px;
}

.contentnav div.listdata label {
	font-size: 14px;
	color: #333333;
	font-weight: normal;
}

.contentnav .listdata span.imglist {
	display: block;
}

.contentnav .listdata img.img {
	margin-left: 100px;
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.imglistdiv {
	position: relative;
}

.imglistdiv img {
	position: relative;
	opacity: 50%;
}

.imglistdiv .imgGrey {
	position: absolute;
	top: 65px;
	left: 130px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "微软雅黑";
	text-decoration: none;
	width: 120px;
	height: 120px;
	top: 0px;
	left: 100px;
	border-radius: 50%;
	line-height: 120px;
	text-align: center;
	opacity: 50%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 9999;
	display: none;
}

.imglistdiv a.hoverimg {
	background: rgba(0, 0, 0, 0.5) !important;
}

.imgBox {
	position: relative;
}

.imgBox a {
	position: absolute;
}

.labelGroup {
	display: inline-block;
	vertical-align: middle;
	display: none;
}

.labelGroup label {
	display: inline-block;
	vertical-align: middle;
	margin: 0px !important;
}

.listdata em {
	font-size: 12px;
	color: red;
	display: none;
	margin-left: 20px;
}


/*个人中心  资料修改*/

.contentnav label.datatitle {
	font-size: 16px;
	color: #666666;
}

.contentnav .uploadimg {
	margin-top: 20px;
	font-size: 12px;
	color: #999999;
	height: 30px;
	line-height: 30px;
	margin-bottom: 40px;
}

.uploadimg form {
	display: inline-block;
}

.contentnav {
	font-family: "微软雅黑";
}

.contentnav .uploadimg a {
	width: 105px;
	height: 30px;
	font-family: simsun;
	font-size: 12px;
	color: #F1A400;
	border: 1px solid #f1a400;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 20px;
}

.imgdiv {
	overflow: hidden;
}

.bigimg,
.smallimg {
	float: left;
	height: 300px;
}

.bigimg {
	border-right: 1px solid #dcdcdc;
}

.bigimg img {
	vertical-align: middle;
	margin-top: 30px;
	margin-right: 60px;
	width: 240px;
	height: 240px;
	border-radius: 50%;
}

.smallimg {
	padding-left: 60px;
}

.smallimg div.seeimg {
	font-size: 14px;
	color: #666666;
	margin-bottom: 8px;
}

.smallimg div.xiaoguo,
div.imgsize {
	font-size: 12px;
	color: #999999;
}

.smallimg img {
	margin-top: 20px;
	margin-bottom: 5px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.file {
	position: relative;
	display: inline-block;
	background: #D0EEFF;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	background-color: #FFFFFF;
}

.file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
}

.file:hover {
	text-decoration: none;
}

#imgSubmitBtn a {
	display: block;
	background-color: #01BF71;
	font-size: 14px;
	color: #fff;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight: normal;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
}

.updataimg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 310px;
	height: 110px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #FFFFFF;
	font-size: 14px;
	color: #000000;
	font-family: "微软雅黑";
	line-height: 55px;
	text-align: center;
	display: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
}

.updataimg a {
	display: block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #01BF71;
	color: #FFFFFF;
	font-size: 14px;
	text-decoration: none;
	margin-top: 10px;
	margin: 0 auto;
}

#fileBtn {
	height: 30px;
	cursor: pointer;
	font-size: 12px;
}


/*个人中心 支付密码*/

.contentdata .payPwd {
/*	margin: 0 auto;*/
}

.contentdata .payPwd em.pwdinfor {
	display: block;
	font-size: 12px;
	color: red;
	font-family: "微软雅黑";
	padding-top: 5px;
	text-align: left;
	padding-left: 155px;
}

.contentdata .payPwd h1 {
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	margin-bottom: 30px;
	/*margin-left: 60px;*/
}

.contentdata .payPwd .item {
	padding: 10px 0;
	display: block;
	margin: 0 auto;
	text-align: left;
	height: 40px;
}

.contentdata .payPwd .item span {
	width: 130px;
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}

.contentdata .payPwd .item input {
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	width: 255px;
	font-size: 12px !important;
}

.contentdata .payPwd .opera {
	text-align: left;
}

.contentdata .payPwd .opera button {
	padding: 10px 25px;
	margin: 20px;
}

.contentdata .payPwd .opera button.confirm {
	background: #01BF71;
	color: #fff;
	border: 0;
	outline: none;
	width: 255px;
	margin-left: 156px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

.contentdata .payPwd .opera button.cancel {
	border: 0;
	background: #fff;
	outline: none;
}

.contentdata .payPwd b {
	background-color: #01BF71;
	font-size: 14px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	width: 65px;
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	height: 37px;
	line-height: 37px;
	font-weight: normal;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.contentdata .payPwd .modeChange .title {
	text-align: left;
	font-size: #000;
	font-family: "微软雅黑";
	margin-left: 47px;
	margin-top: 15px;
}
.Originalpwd{
	margin-top: 10px;
}

.contentdata .payPwd .modeChange .title span {
	display: inline-block;
	padding: 0px 15px;
	padding-bottom: 10px !important;
	cursor: pointer;
}

.contentdata .payPwd .modeChange .title span.active {
	border-bottom: 3px solid #01BF71;
}

.contentdata .payPwd .modeChange .item label {
	width: 200px;
	text-align: left;
}

.contentdata  .item label{
	    width: 281px;
	    display: inline-block;
	    text-align: left;
	    height: 37px;
	    line-height: 37px;
}
.contentdata .item button{
	 background-color: #01BF71;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "微软雅黑";
  width: 90px;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  height: 37px;
  line-height: 37px;
  font-weight: normal;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  border: 0px !important;
}

/*# sourceMappingURL=PersonalCenter.css.map */


/*个人中心  通知通告*/

.noticewrapper {
	padding-top: 30px;
	font-family: "微软雅黑";
	overflow: hidden;
}

.noticewrapper .rigthBox {
	float: left;
	width: 249px;
	height: 500px;
	background-color: #EEEEEE;
}

.noticewrapper .rigthBox span {
	display: block;
	font-size: 18px;
	color: #333333;
	font-family: "SimHei";
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
	cursor: pointer;
	border-left: 3px solid #EEEEEE;
}

.noticewrapper .rigthBox span b {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #FE8202;
	font-size: 14px !important;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	margin-left: 15px;
}

.noticewrapper .rigthBox span.clickspan {
	border-left: 3px solid #01BF71;
	color: #01BF71;
}

.noticewrapper .navcontentBox {
	float: left;
	margin-left: 20px;
	width: 829px;
}

.noticewrapper .navcontentBox .ordertitle {
	font-size: 24px;
	color: #333333;
	padding: 0px !important;
	border-bottom: 1px solid #CCCCCC;
}

.noticewrapper .navcontentBox .ordertitle span {
	background: url(../img/person/wuye.png) no-repeat left center;
	padding-left: 70px;
	display: inline-block;
	line-height: 98px;
}

.noticewrapper .navcontentBox .ordertitle b {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #FE8202;
	font-size: 14px !important;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	margin-left: 15px;
}

.noticewrapper .navcontentBox .orderlist {
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	padding: 20px 0px;
}

.noticewrapper .navcontentBox .orderlist span {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #999999;
	margin-bottom: 10px;
}

.noticewrapper .navcontentBox .orderlist span b {
	display: inline-block;
	float: right;
	font-weight: normal !important;
}

.noticewrapper .navcontentBox .orderlist b {
	color: #666666;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: normal;
}

/*
 * 我的订单 ordercontent style
 */
table.ordercontent{
	width: 900px;
	margin: 0 auto;
	min-width: 900px;
	font-family: "微软雅黑";
	font-weight: normal;
	font-size: 16px;
	color: #333333;
	border: 0px !important;
}
table.ordercontent thead th{
	font-size: 14px;
	color: #999999;
	font-weight: normal;
	text-align: left;
	padding-top: 11px;
}
table.ordercontent tbody tr{
	height: 84px;
}
/*table.ordercontent tbody tr td:nth-child(2) i{
	display: block;
	color: #666666;
	font-style: normal;
}*/
/*table.ordercontent tbody tr td:nth-child(3){
	width: 369px;
}*/
table.ordercontent tbody tr td:nth-child(3) .ordercon h4{
	font-size: 16px;
	color: #333333;
	font-family: "微软雅黑";
	font-weight: bold;
}
table.ordercontent tbody tr td:nth-child(3) .ordercon span{
	display: block;
	font-size: 14px;
	color: #666666;
	/*text-overflow: ;*/
	word-break: normal;
	word-wrap: normal;
	word-spacing: normal;
	
}
table.ordercontent tbody tr td:nth-child(4){
	color: #FE8202;
}
/*table.ordercontent tbody tr td:last-child {
	width: 85px;
}*/
table.ordercontent tbody tr td:last-child a{
	display: block;
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	outline: none;
}
table.ordercontent tbody tr td:last-child a:first-child{
	color: #01BF71;
	border: 1px solid #01BF71;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 23px;
	line-height: 23px;
}
table.ordercontent tbody tr td:last-child a:last-child{
	color: #999999;
}

/*个人中心中弹框的样式*/
/*#Bomb-box{
	border: 1px solid red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 150px;
	width: 350px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
}*/
/*.modal-content{
	width: 400px;
    height: 149px;
}
.modal-dialog{
	top: 50%;
    transform: translate(-50%);
    margin-top: 20%;
}
.modal-body{
	height: 88px;
    text-align: center;
    line-height: 88px;
    padding: 0px !important;
}
.modal-body b{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #000000;
	font-weight: normal;
}
.modal-footer{
    border-top:0px !important;
    text-align: center;
}
.btn-default {
    background-color: #01bf71;
    border: 0px !important;
    width: 100px;
    border-radius: 0px !important;
    color: #FFFFFF;
}
.btn-primary {
    background-color: #FFFFFF;
    color: #999999;
}
.btn{
	border:0px !important;
	touch-action: none !important;
	font-size: 14px;
	font-family: "微软雅黑";
}
.btn-primary:hover{
	 background-color: #FFFFFF;
    color: #999999;
}
.btn-default{
	background-color: #01bf71 !important;
    border: 0px !important;
    width: 100px;
    border-radius: 0px !important;
    color: #FFFFFF !important;
}*/