html,
body {
	position: relative;
	height: auto;
}

html .bg,
body .bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/repaireBg.png) no-repeat center center;
	background-size: cover;
	z-index: -1;
}

.title {
	position: absolute;
	z-index: 999;
	width: 100%;
}

.title .userImg {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.title .userName {
	color: #fff;
	cursor: pointer;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.wrap {
	padding: 60px 0px;
}

.content {
	width: 1000px;
	height: 715px;
	background: #fff;
	border: 0px;
	border-radius: 5px;
	margin: 0px auto;
	overflow: hidden;
}

.content .headImg {
	padding-top: 50px;
}

.content .textContent h1 {
	font-weight: normal;
	font-size: 28px;
	color: #666;
	padding: 0px 0px 20px;
}

.content .textContent {
	padding: 30px 30px 10px 30px;
}

.content .textContent .cateTitle {
	color: #999;
}

.content .textContent label {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #999;
}

.content .textContent .textArea div.areaGroup {
	display: inline-block;
	vertical-align: middle;
	width: 580px;
	position: relative;
}

.content .textContent .textArea div.areaGroup span {
	position: absolute;
	top: 192px;
	right: 47px;
}

.content .textContent .textArea div.areaGroup textarea {
	width: 520px;
	height: 160px;
	resize: none;
	padding: 10px;
	outline: none;
	border: 1px solid #dbdbdb;
	font-size: 18px;
	color: #666;
}

.content .textContent .textArea .cateTitle {
	padding: 10px 0px;
}

.content .textContent .textArea div.imgGroup {
	display: inline-block;
	vertical-align: top;
	width: 330px;
	padding-left: 20px;
	position: relative;
}

.content .textContent .textArea div.imgGroup span {
	position: absolute;
	top: 192px;
	right: 21px;
}

.content .textContent .textArea div.imgGroup .item {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px;
	cursor: pointer;
}

.content .upLoadImg {
	padding: 0px 30px;
}

.content .upLoadImg .uploadBox {
	display: inline-block;
	vertical-align: middle;
}

.content .upLoadImg img {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.content .upLoadImg span {
	display: inline-block;
	vertical-align: bottom;
	color: #999;
}

.subBtn {
	margin: 10px 30px;
	border: 0px;
	padding: 8px 20px;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
}

.tips {
	width: 300px;
	resize: none;
	height: 160px;
	padding: 10px;
	border: 1px solid #dbdbdb;
}

.selectGroup {
	margin-left: -1%;
}

.selectGroup .subSelect {
	display: inline-block;
	vertical-align: middle;
	width: 30%;
	margin: 1%;
	position: relative;
	height: 90px;
}

.selectGroup .subSelect .inputSelect {
	position: relative;
	border: 1px solid #dbdbdb;
	padding: 0px 25px;
	line-height: 40px;
	height: 40px;
	margin-top: 10px;
	background: url(../img/index/bottomIcon.png) no-repeat right center;
}

.selectGroup .subSelect .inputSelect i {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 21px;
	height: 11px;
}

.title .logo {
	margin: 10px 0px;
}

div.imgWrap .item {
	position: relative;
}

div.imgWrap .item .selectIcon {
	display: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

div.imgWrap .active .selectIcon {
	display: block;
}

.inputFile {
	display: none;
}


/*# sourceMappingURL=repair.css.map */


/**
 * 后来加的
 */

.selectdiv {
	position: absolute;
	border: 1px solid #DDDDDD;
	width: 272px;
	padding-left: 10px;
	background: #ffffff;
	display: none;
	z-index: 999;
}

.selectdiv option {
	margin-top: 5px;
	color: #000;
	cursor: pointer;
}

.inputSelect input {
	border: 0px !important;
	width: 100%;
	height: 95%;
}

#form1 {
	display: inline-block;
}

#form1 input {
	display: block;
	width: 1000px;
	height: 50px;
	display: none;
}

#form1 .item {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#form1 .item .delete {
	width: 14px;
	height: 14px;
	position: absolute;
	right: -5px;
	top: -5px;
}

.inputImg {
	position: relative;
}

em {
	display: block;
	font-size: 12px;
	color: red;
}


/*切换房产*/

.selectHouse {
	color: #999;
	font-size: 14px;
	padding: 15px 0px;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
}

.selectHouse span {
	color: #333;
}

.selectHouse a {
	color: #0089dc;
	cursor: pointer;
	position: relative;
}

.chooseHouse {
	position: absolute;
	left: 0px;
	border: 1px solid #dbdbdb;
	padding: 0px 5px;
	background: #fff;
	top: 20px;
	width: 200px;
	z-index: 999;
}

.selectHouse .change {
	display: inline-block;
	position: relative;
}

.chooseHouse .triggleTop {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #dbdbdb;
	position: absolute;
	top: -8px;
	left: 10px;
}

.chooseHouse .triggleTop2 {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: absolute;
	top: -6px;
	left: 10px;
}

.chooseHouse dd {
	border-bottom: 1px solid #dbdbdb;
	padding: 10px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.chooseHouse dd.active {
	color: #01BF71;
}

.productIndex {
	height: 70px;
}

.chooseHouse {
	display: none;
}