.selectAddreess{
	width: 100%;
	height: 700px;
	background: url(../img/形状-1.png) no-repeat;
	background-size: 100% 100%;
}
.addressmain{
	width: 1100px;
	min-width: 1100px;
	margin: 0 auto;
}
.addresssTitle{
	padding-top: 20px;
}
.addresssTitle a+span{
	display: inline-block;
}
.addresssTitle span{
	float: right;
}
.addresssTitle span a{
	margin-left: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
	display: inline-block;
	height: 50px;
	line-height: 40px;
	padding-top: 20px;
}
.addresssTitle span a:first-child{
	background: url(../img/选择地区_03.png) no-repeat top center;
}
.addresssTitle span a:last-child{
	background: url(../img/Create-New.png) no-repeat top center;
}

/*addresscon
 * 
 */
.addresscon {
	margin-top: 180px !important;
	/*width: 960px;*/
	margin: 0 auto;
	font-family: "微软雅黑";
}
.addresscon span{
	display: block;
	text-align: left;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 30px;
	margin-bottom: 25px;
}
.addresscon select+input{
	height: 60px;
}
.addresscon select{
	width: 250px;
	height: 60px;
	padding-left: 40px;
	font-size: 18px;
	color: #333333;
	font-family: "微软雅黑";
	appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   background: url(../img/多边形-1.png) no-repeat scroll right center transparent;
   padding-right: 20px;
   outline: none;
   background-color: #FFFFFF;
   display: inline-block;
}
.addresscon select option{
	background-color: #DDDDDD !important;
}
.addresscon select option:hover{
	background-color: #FFFFFF !important;
}
.addresscon input[type="text"]{
	width: 570px;
	background: url(../img/多边形-1.png) no-repeat right center;
	cursor: pointer;
	display: inline-block;
	border:0px !important;
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-left: 20px;
	height: 55px;
}
::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 12px !important;
  font-family: "微软雅黑";
}
:-moz-placeholder {
  color: #cccccc;
  font-size: 12px !important;
  font-family: "微软雅黑";
}
:-ms-input-placeholder {
  color: #cccccc;
  font-size: 12px !important;
  font-family: "微软雅黑";
}

.addresscon input[type="button"]{
	outline: none;
    width: 150px;
    height: 57px;
    cursor: pointer;
    padding-top: 5px;
    font-size: 18px;
    color: #01bf71;
    background-color: #fff;
    border: 0px !important;
    height: 61px;
    padding-top: 0px;
    font-family: "微软雅黑";
}

/*app*/
div.wrapperBox{
	position: relative;
    width: 100%;
    height: 280px;
}
.app{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.app span{
	display: block;
	float: right;
	padding:20px 20px;
	font-family: "微软雅黑";
	color: #333333;
	font-size: 18px;
}
.app span b{
	font-weight: bold;
	display: block;
	color: #333333;
	font-size: 36px;
}
.app span b i{
	color: #F1A400;
}
