.rigistermain {
	height: 940px;
}


/*
 * 注册的标题style
 */

.rigistertitle {
	height: 82px;
	font-family: "微软雅黑";
	color: #666666;
	text-align: center;
	font-size: 24px;
}

.rigistertitle b {
	line-height: 82px;
}

.rigistertitle span {
	display: inline-block;
	float: right;
	margin-right: 30px;
	width: 98px;
	font-size: 18px!important;
	text-align: left;
	margin-top: 30px;
}

.rigistertitle span em {
	font-size: 14px !important;
}

.rigistertitle span em a {
	color: #01BF71;
}


/*
 * rigistercon style
 */

.rigistercon {
	width: 390px;
	margin: 0 auto;
	font-family: "微软雅黑";
}

.rigistercon label {
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}

.rigistercon .form-group {
	margin-bottom: 5px !important ;
}

.rigistercon .form-group em {
	color: red;
}

.rigistercon .form-group input.form-control {
	height: 50px;
	border-radius: 0px !important;
}


/*
 * codegroup style
 */

.codegroup {
	width: 231px !important;
	display: inline-block;
}

.rigistercon b {
	display: inline-block;
	width: 141px;
	height: 50px;
	margin-left: 10px;
	background-color: #01BF71;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
	position: absolute;
	margin-top: 25px;
	cursor: pointer;
}


/*
 * passgroup style
 */

.passgroup .form-control:nth-child(3) {
	margin-top: 5px;
}


/*
 * checkboxgroup style
 */

.checkboxgroup span {
	margin-left: 60px;
}

.checkboxgroup span label {
	color: #333333;
	font-size: 18px;
}

span.tooltipinfor {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #f1a400;
	display: inline-block;
	margin-bottom: 30px;
}


/*
 * commnity style
 */

.commnity .form-group{
	margin-bottom: 5px !important;
}
.commnity .names {
	margin-bottom: 10px;
	width: 190px;
	position: relative;
	float: left;
}

.commnity span.clearboth {
	clear: both;
	height: 0;
	line_height: 0;
	font-siez: 0;
	margin: 0;
	padding: 0;
	display: block;
}

.commnity .form-group div.marginleftvid {
	margin-left: 10px;
}

.commnity .form-group div.selectGroup {
	border: 1px solid #DDDDDD;
	position: absolute;
	top: 75px;
	left: 0px;
	z-index: 99;
	background: #fff;
	width: 100%;
	display: none;
	max-height: 150px;
	overflow-y: scroll;
	padding-left: 5px;
}

.commnity .form-group img {
	position: absolute;
	left: 160px;
	top: 50px;
	cursor: pointer;
}

.commnity .form-group div.selectGroup option {
	margin-bottom: 10px;
	cursor: pointer;
}

 .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFFFFF !important; 
   }
/*.commnity .form-group:nth-child(1){
	width: 260px;
	float: left;
	position: relative;
}*/


/*.commnity .form-group:nth-child(1) div.names{
	float: left;
	width: 120px;
}*/


/*.commnity .form-group:nth-child(1) div.commnitynamediv{
	margin-left: 15px;
}
.commnity .form-group:nth-child(1) div.cityname img{
	left: 90px;
}
.commnity .form-group:nth-child(1) div.showselect{
	display: block;
}
.commnity .form-group:nth-child(1) div.selectGroup option{
	margin-bottom: 10px;
	cursor: pointer;
}
.commnity .form-group:nth-child(1) input{
	position: relative;
	width: 100%;
}
.commnity .form-group:nth-child(1) img{
	position: absolute;
	left: 230px;
	top: 50px;
	cursor: pointer;
}*/


/*.commnity .form-group:last-child{
	width: 120px;
	float: left;
	margin-left: 10px;
}*/

span.agreement {
	display: inline-block;
	color: #0000FF;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}