<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的订单</title>
		<link rel="stylesheet" type="text/css" href="../css/comment.css" />
		<link rel="stylesheet" type="text/css" href="../css/store.css" />

		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/order.css" />
		<link rel="stylesheet" type="text/css" href="../css/userCenter.css"/>

		<!--<script type="text/javascript" src="../js/jquery-2.2.3.js" ></script>-->
		<style type="text/css">
			.tapGroup .item{
				/*display: none;*/
			}
		</style>
	</head>

	<body ng-app="webapp">
		
		<!--<div aaa></div>-->
		<div class="headerwrapper"></div>
		<div class="contentwrapper">
			<div class="comm1100">
				<div class="leftBar">
					<ul>
						<li><a href="repair.html">预约保修</a></li>
						<li class="active"><a href="advance.html">投诉留言</a></li>
					</ul>
				</div>
				
				<div class="content" ng-controller="personAdCtrl">
					<!--<div class="title">
						<ul>
							<li class="active">待处理</li>
							<li>处理完成</li>
						</ul>
					</div>-->
					<div class="tapGroup">
						<!--<div class="item">
							
							<div class="time">
								2016-06-04  18:12
							</div>
							<p>长虹大厦三单元8楼走廊灯坏了，晚上一个人加班走这好吓人，麻烦尽快派人来修复！谢谢</p>
							<div class="operaGroup">
								<div class="button btnOrange">
									提醒物业
								</div>
								<div class="button btnGreen">
									取消保修
								</div>
							</div>
						</div>-->
						<div class="item" ng-repeat="item in itemAds">
							<div class="itemTitle">
								<b ng-bind="item.complaintTypeName"></b>
								<div class="tips" style="color: #000;">
									<span class="Atitle" ng-if="item.complaintStatus == 1">已处理</span>
									<span class="Atitle" ng-if="item.complaintStatus == 0">未处理</span>
								</div>
								<div class="adStatus">
									<img src="../img/img{{item.complaintEmoji}}.png"/>
									<span ng-repeat="x in evalStatus" ng-if="x.id == item.complaintEmoji">
										{{x.name}}
									</span>
								</div>
							</div>
							<div class="time" ng-bind="item.date">
								
							</div>
							<p ng-bind="item.content"></p>
							<!--<div class="remarks">
								备注:希望明天上班时候已经修好了，辛苦
							</div>-->
							<div class="imgGroup" ng-if="item.images.length > 0">
								
								<img ng-repeat="img in item.images" ng-src="{{img}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footerwrapper">
		</div>
		<script src="../js/jquery-2.2.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/comment.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/usercenter.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>