.footer{
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: #333333;
	text-align: center;
	color: #FFFFFF;
	font-family: simsun;
	font-size: 12px;
}
.footer span{
	 filter:alpha(opacity=30);  
      -moz-opacity:0.3;  
      -khtml-opacity: 0.3;  
      opacity: 0.3;  
}
